@import "tailwindcss";

@theme {
	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
	@apply bg-white dark:bg-gray-950;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}

.button-container {
	margin: 20px 0;
}


.light {
	background-color: #f0d9b5;
}

.dark {
	background-color: #b58863;
}

.piece {
	width: 80%;
	height: 80%;
	cursor: grab;
}
